<section class="ad section">
    <div class="container has-text-centered">
        <div class="tile is-ancestor">
            <div class="tile is-2 is-vertical">
            </div>
            <div class="tile is-8 is-vertical">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
                </script>
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-3198451808742951"
                    data-ad-slot="2534168862"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="tile is-2 is-vertical">
            </div>
        </div>
    </div>
</section>
